<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="httpplatformhandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
        </handlers>
        <httpPlatform processPath="C:\Program Files\Go\bin\go.exe" arguments="run C:\inetpub\wwwroot\cms_golang\main.go" startupTimeLimit="60">
            <environmentVariables>
                <environmentVariable name="GOROOT" value="C:\inetpub\wwwroot\cms_golang" />
            </environmentVariables>
        </httpPlatform>
    </system.webServer>
</configuration>


<!-- <?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
        </handlers>
        <aspNetCore processPath=".\main.exe" />
    </system.webServer>
</configuration>
 -->



